{{!-- <div class="container">
    {{!-- <a href="/authors/create" class="btn btn-success">Agregar nuevo Autor</a> --}}
</div> --}}

<br>

<div class="container">
    <table class="table table-bordered text-center table-striped">
        <thead>
            <tr class="bg-primary text-white">
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Biografía</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{!-- {{#each authors}}
            <tr>
                <th scope="row">
                    {{ this.id }}
                </th>
                <td>
                    {{ this.name }}
                </td>
                <td>
                    {{ this.biography }}
                </td>
                <td>
                    <a href="/authors/edit/{{this.id}}" class="btn btn-info">Editar</a>
                    <form action="/authors/delete/{{this.id}}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
            {{/each}} --}}
            <h1>Aprendiendo Node Express Funciona a ultima hora</h1>
        </tbody>
    </table>
</div>

<br>